# MongoDB Connection String
MONGO_URI=mongodb+srv://diya:diya123@cluster0.ymb83lx.mongodb.net/?appName=Cluster0
# OR use MongoDB Atlas:
# MONGO_URI=mongodb+srv://<username>:<password>@cluster.mongodb.net/authdb

# JWT Secret — change this to a long random string in production!
JWT_SECRET=514579db06c10d7243bd41b9455825088785898ff9a1a37427cc73d6109349b101d205a1cfefb6ffcb197859abccee388930b1564498936751b8f71399800948

# Server Port
PORT=5000

# Client URL (for CORS)
CLIENT_URL=http://localhost:3000
